<ion-header [translucent]="true">
</ion-header>

<ion-content class="login-content" [fullscreen]="true">
  <div class="login-container">

    <div class="logo-section">
      <div class="icon-circle">
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <h1>Reset <span>Password</span></h1>
      <p>We'll send a recovery link to your inbox</p>
    </div>

    <div class="form-wrapper">
      <ion-item lines="none" class="custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          label="Email Address"
          label-placement="floating"
          type="email"
          placeholder="yourname@email.com"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="reset-btn" (click)="sendReset()">
        Send Reset Link
      </ion-button>

      <div class="back-to-login" routerLink="/auth/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>Back to Login</span>
      </div>
    </div>

  </div>
</ion-content>